body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .close {
    float: right;
    cursor: pointer;
  }
  
  #output {
    padding: 100px;
    margin-left: 500px;
    
  }